<div class="home">
  <h2>Hellow Gadget funs!</h2>
  <h3>visit our web site!</h3>
  <a href="https://gadget-mafia.netlify.com/">https://gadget-mafia.netlify.com/</a>
</div>

<style>
  .home {
    text-align: center
  }
</style>
