@font-face{
  font-family: "Montserrat-Regular";
  src: font-url('Montserrat-Regular');
}
@font-face{
  font-family: "Montserrat-SemiBold";
  src: font-url('Montserrat-SemiBold');
}
@font-face{
  font-family: "Montserrat-Bold";
  src: font-url('Montserrat-Bold');
}
@font-face{
  font-family: "NotoSansJP-Regular";
  src: font-url('NotoSansJP-Regular');
}
@font-face{
  font-family: "NotoSansJP-Thin";
  src: font-url('NotoSansJP-Thin');
}
@font-face{
  font-family: "NotoSansJP-Bold";
  src: font-url('NotoSansJP-Bold');
}
